# Core
streamlit>=1.32.0
pandas>=2.1.0
numpy>=1.26.0

# Visualización
plotly>=5.18.0

# Google Cloud
google-cloud-bigquery>=3.11.4
google-cloud-bigquery-storage>=2.24.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.2.0
db-dtypes>=1.1.1

# Utilidades
python-dotenv>=1.0.0

# Opcional para algunas funciones estadísticas (ej. tendencia lineal en scatter)
statsmodels>=0.14.0
